/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}
section .container{
    color: black;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 210px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#servicios {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.servicio {
    margin-bottom: 20px;
}

.servicio h3 {
    color: #333;
}

#equipo {
    padding: 50px 0;
}

.barbero {
    text-align: center;
}

.barbero img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
