// Variables
$primary-color:red;
$secondary-color: #fff;
$accent-color: #f4f4f4;
$font-family: 'Arial, sans-serif';
$container-width: 80%;
$header-padding: 20px 0;
$banner-padding: 100px 0;
$section-padding: 50px 0;
$image-width: 150px;
$image-border-radius: 50%;
$nav-margin-left: 210px;
$font-size-h1: 24px;
$margin-bottom-servicio: 20px;
